.checkout__address{
    width: 100%;
}
.checkout-summary{
    width: 60%;
}   
.checkout-image{
    width: 100px;
    border-radius: 6px;
    overflow: hidden;
}
.checkout__body{
    flex-direction: row;
}

.checkout-image img{
    width: 100%;
    height: 100%;
}

.saved__Address{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0rem 3rem;
}
.saved__Address .address__card{
    position: relative;
    min-width: 100%;
    overflow: hidden;
}

.deliver__address{
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
}
.deliver__address p{
    margin: 0;
    padding: 12px;
    background-color: var(--secondary-color);
    color:#fff ;
    border-top-left-radius: 2rem;
}
.deliver__address p:hover{
    color: var(--primary-color);
}
.checkout_summary__body{
    padding: 14px;
}

@media only screen and (max-width: 991px){
    .checkout__path{
        font-size: 14px;
    }
    .checkout__body{
        flex-direction: column-reverse;
    }
    .checkout-summary{
        width: 100%;
    }
    .checkout__info{
        font-size: 14px;
    }
    .checkout__info h6{
        font-size: 14px;
    }
    .saved__Address .address__card, .address__card h6{
        font-size: 16px;
    }
    .checkout__address h5{
        font-size: 14px;
        text-align: center;
    }
}