
  .product__image {
    width: 50%;
    gap: 16px;
  }

  .normal__image{
    display: none;
  }


  .product-page .product-path{
    gap: 8px;
    cursor: default;
  }

  .product-page .product-path a:hover{
      color: var(--bs-hover-color);
  }

  .other-images{
    gap: 36px;
    overflow-x: scroll;
  }

  .other-image{
    width: 160px;
  }

  .product-title {
    font-family: Optima nova,sans-serif;
  }

  .product-subtitle{
    color: var(--type-low-emphasis, #626262);
    font-weight: 600;
  }

  .product-description a{
    text-align: center;
    width: 100%;
    border: 2px solid black;
    padding: 8px;
  }

  .product-description a:hover{
    background-color: #000;
    color: #fff;
  }
  
  
  .product-icon{
    cursor: pointer;
  }

@media only screen and (max-width: 991px) {
  .product-body{
    flex-direction: column;
    justify-content: center;
    padding: 0px 4rem;
  }
  .product__image{
    width: 100%;
  }

  .product-path{    
    font-size: 14px;
  }
  .product-title{
    font-size: 32px;
    font-weight: 600;
  }
  .product-subtitle{
    font-size: 24px;
    font-weight: 300;
  }
  .item-specifications{
    font-size: 16px;
  }

  .magnify__image{
    display: none;
  }
  .normal__image{
    display: block;
  }
}