
.product-image {
  gap: 16px;
}

.product-page .product-path{
  gap: 8px;
  font-size: small;
  cursor: default;
  }

  .product-page .product-path a{
      text-decoration: none;
      color: var(--bs-font-color);
  }

  .product-page .product-path a:hover{
      color: var(--bs-hover-color);
  }

  .other-images{
    gap: 36px;
  }

  .other-image{
    width: 100px;
    height: 124px;
  }

  .product-title {
    font-family: Optima nova,sans-serif;
  }

  .product-subtitle{
    color: var(--type-low-emphasis, #626262);
    font-weight: 600;
  }

  .product-description{
    /* padding: 50px 0px 0px 0px; */
    display: flex;
    flex-direction: column;
  }

  .product-description a{
    text-decoration: none;
    color: #000;
    text-align: center;
    width: 100%;
    border: 2px solid black;
    padding: 8px;
  }

  .product-description a:hover{
    background-color: #000;
    color: #fff;
  }
  
  .product-price {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .add-to-cart-button {
    padding: 10px 20px;
    background-color: orangered;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .add-to-cart-button:hover {
    background-color: #fd632b;
  }

  .item-desc{
    display: flex;
    justify-content: flex-start;
    padding: 12px;
    padding-left: 0px;
    gap: 12px;
  }
  

  .select-size, .qty-section{
    display: flex;
    align-items: center;
    gap: 10px;
    height: fit-content;
    width: 100%;
  }

  .size-select, .qty-select{
    width: 80px;
    display: flex;
    justify-content: center; 
    border: transparent;
    border-bottom: 2px solid #e67e22;
    border-radius: 4px;

  }

  .size-guide{
    cursor: pointer;
  }

  .size-guide:hover{
    text-decoration: underline;
  }

  .quantity-section{
    height: fit-content;
    gap: 6px;

  }

  .change-qty{
    border: 1px solid #0066CC;
    
  }

  .change-qty label{
    padding: 4px;
  }

  .qty-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
  }