
.product-image {
  gap: 16px;
  max-width: 26rem;
}

.product-page .product-path{
  gap: 8px;
  cursor: default;
  }

  .product-page .product-path a:hover{
      color: var(--bs-hover-color);
  }

  .other-images{
    gap: 36px;
  }

  .other-image{
    width: 100px;
    height: 124px;
  }

  .product-title {
    font-family: Optima nova,sans-serif;
  }

  .product-subtitle{
    color: var(--type-low-emphasis, #626262);
    font-weight: 600;
  }

  .product-description{
    /* padding: 50px 0px 0px 0px; */
    display: flex;
    flex-direction: column;
  }

  .product-description a{
    text-align: center;
    width: 100%;
    border: 2px solid black;
    padding: 8px;
  }

  .product-description a:hover{
    background-color: #000;
    color: #fff;
  }
  