.saved-Address{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-around;
    gap: 20px;
    padding: 0rem 3rem;
}

.deliver-address{
    cursor: pointer;
}


.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 21;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .popup-content {
    background-color: #fff;
    padding: 20px;
    width: 700px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .popup-content h2 {
    margin-top: 0;
  }
  
  .popup-content p {
    margin-bottom: 20px;
  }
  
  .popup table{
    width: 100%;
    border-collapse: collapse; 
  }

  .popup table td, .popup table th {
    border: 1px solid black; /* Sets a 1 pixel solid black border to each cell */
    padding: 8px; /* Optional: Adds some padding to the cells for better readability */
  }

  .popup p{
    top: 0;
    right: 0;
    font-size: 20px;
    padding: 12px;
    cursor: pointer;
  }

  .confirm-order{
    background-color: var(--secondary-color);
    color: #fff;
    width: fit-content;
  }