.profile-header h1{
    color: var(--secondary-color);
    font-size: 32px;
    margin: 0px;
}
.profile-main-container{
    min-height: 100vh;
}
.profile-section-list{  
    width: fit-content;
}
.go-to-user{
    cursor: pointer;
}
.go-to-user:hover{
    color: var(--bs-hover-color);
}
.profile__sections{
    justify-content: space-between;
}
.profile_section__list ul{
    flex-direction: column;
    background: var(--secondary-color);
    color: #fff;
    border-radius: 6px;
    overflow: hidden;
    border-left: 3px solid transparent;
}
.profile_section__list ul li{
    cursor: pointer;
    width: 16rem;
}
.profile_section__list ul li svg{
    font-size: x-large;
}
.active-section{
    color: var(--primary-color);
    border-left: 3px solid var(--primary-color);
}
.active-section-arrow{
    color: var(--primary-color);
    font-weight: 900;
}
.profile-header p{
    border: 1px solid var(--secondary-color);
    border-radius: 6px;
    cursor: pointer;
}
.profile-image-container{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}
.profile-image-upload {
    border-radius: 6px;
    color: var(--secondary-color);
    cursor: pointer;
}

.profile-image-delete{
    color: #B00020;
    border-radius: 6px;
    cursor: pointer;
}


/* Style the container to control the appearance */
/* .file-input-container {
    position: relative;
  } */
  
  /* Hide the original input */
  .hidden-input {
    /* position: absolute; */
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Style the custom label */
  .custom-label {
    /* border-radius: 5px; */
    cursor: pointer;
  }
  
.user__inforomation input, textarea .change__password input{
    border: none;
    background: rgba(241, 241, 241, 1);
    border-radius: 4px;
    min-width: initial;
    font-size: small;
}

textarea{
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    resize: none;
}

.user__inforomation input:focus, .change__password input:focus{
    border: none;
    outline: none;
}

.save-button{
    right: 0;
    bottom: 0;
}

.save-button:hover p{
    background-color: var(--secondary-color);
    color: aliceblue;
}

.user_image__section{
    display: flex;
}


/* My Orders */

.orders-list{
    background-color: rgba(241, 241, 241, 1);
    border-radius: 8px;
}

.orders-list p{
    margin: 0;
}

.order-status-label p{
    width: 7rem;
    text-align: right;
}

.uploaded-image{
    width: 60px;
}

.change__password{ 
    width: 40%;
}

.order__price{
    margin-right: 2rem;
}

/* ============================ */
/* Address */
.address__body{
    display: flex;
    flex-direction: column;
}
.address__body .address{
    justify-content: space-between;
}
.new__address button{
    border: none;
    padding: 8px 16px;
    background-color: var(--secondary-color);
    color: #fff;
    font-weight: 600;
    border-radius: 6px;
}
.saved__addresses{
    width: 50%;
}
.new__address{
    justify-content: start;
    align-items: start;
}
.address-card{
    display: flex;
    flex-direction: column;
    text-align: left;
    border-radius: 6px;
    background: rgba(241, 241, 241, 1);
}

.edit-address p{
    width: fit-content;
    cursor: pointer;
}


@media only screen and (max-width: 991px){
    .user__path{
        font-size: 14px;
    }
    .profile__body{
        flex-direction: column;
        font-size: 12px;
    }
    .profile_section__list ul{
        flex-direction: row;
        width: 100%;
    }
    .profile_section__list ul li{   
        font-size: 10px;
        font-size: 12px;
        text-align: left !important;
        white-space: nowrap;
    }
    .profile_section__list ul li svg{
        display: none;
    }
    .profile-sections{        
        justify-content: center !important;
    }
    .active-section{
        border-left: none;
        border-bottom: 3px solid var(--primary-color);
    }
    .profile__sections{
        justify-content: center;
    }

    
    .information__body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .user_image__section{
        flex-direction: column;
        justify-content: center;
    }
    .profile__image{
        display: flex;
    }

    .order__price{
        margin: 0px;
    }

    .address__body{
        flex-direction: column;
    }
    .address__body .address {
        justify-content: center;
        flex-direction: column-reverse;
    }
    .saved__addresses{
        font-size: 14px;
        width: 100%;
    }
    .new__address{
        justify-content: center;
        align-items: center;
    }
    .new__address button{
        font-size: 14px;
    }

    .change_password__body{
        justify-content: center;
        font-size: 14px;
    }
    .change__password{
        width: 60%;
    }
}
