
  
  .navbar-toggle { 
    display: none;
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
  }
  
  .navbar-links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .navbar-link {
    margin-bottom: 0.5rem;
    text-align: left;
  }
  
/* Smart phones */
@media screen and (max-width: 600px) {
    .navbar{
      flex-direction: column;
      align-items: flex-start;
      z-index: 7;
      display: none;
      position: fixed;
      opacity: 0.85;
      width: 80%;
      height: 100vh;
    }

    .navbar.navbar-open{
      display: block;
    }

    .navbar-link{
      width: 100%;
      padding-left: 24px;
    }
    
   .navbar-toggle{
    display: flex;

   }
   .navbar-links {
    display: none;
   }
   .navbar-links.open {
    display: flex;
    background-color: #000;
    flex-direction: column;
   }
   .navbar-link a{
    color: #f2f2f2;
   }
  }
  
  /* Tablets */
  @media screen and (max-width: 768px) {
    
  }
  
  /* Laptops */
  @media screen and (max-width: 992px) {
    
  }
  
  /* Monitors */
  @media screen and (min-width: 1200px) {
    
  }
  