footer{
    background-color: var(--secondary-color);
    color: #fff;
}

.Parent-Footer{
    /* position: relative; */
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
}

.box b{
    font-weight: 450;
}

.box p{
    margin: 0px;
    font-weight: lighter;
}

.Footer-links{
    display: flex;
    flex-direction: column;
}

.Footer-links a{
    color: #fff;
    font-weight: lighter;
}

.Footer-links a:hover{
    color: #8EC3E1;
}

.box hr{
    margin: 6px 0px;
}

.box2{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.social-icons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    padding: 12px 0px;
}

.social-icon{
    padding: 4px;
    font-size: 2rem;
    color: var(--primary-color);
}

.footer_address{
    text-align: right;
}

 .footer__logo{
    margin: 0;
    width: 120px;
    height: 120px;
}

.footer__logo img{
    width: 100%;
    height: 100%;
}

.box3{
    text-align: right;
}

.dev a{
    color: #8EC3E1;
}
.dev a:hover{
    color: var(--primary-color);
}

@media (width < 620px) {
    .footer__logo{
       margin: 0;
       width: 90px;
       height: 90px;
   }
    .Parent-Footer{
        padding: 16px;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        /* padding-left: 4rem; */
    }
    .box1, .box2{
        padding-left: 2rem;
    }
    .social-icons{
        padding: 0;
    }

    .Parent-Footer .hr__break{
        color: #fff;
        height: 3px;
        width: 100%;
        margin-top: 12px;
    }
    .box3{
        display: flex;
        /* flex-direction: row-reverse; */
        width: 100%;
        align-items: flex-end;
        justify-content: space-around;
        font-size: 14px;
    }
}
