
.fixed {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    z-index: 999;   
}

/* Navbar links */

.navbar-links li a {
    color: var(--bs-font-color);
    white-space: nowrap;
    text-decoration: none;
    font-weight: 400;
}

.navbar-link a:hover {
    color: var(--bs-hover-color);
}

.navbar-link:hover .dropdown {
    display: block; 
}

.nav-item:hover {
    background-color: var(--primary-color);
}

.nav-item a{
    display: flex;
}

.navbar-links li ul.down-dropdown {
    list-style: none;
    overflow: hidden;
    padding: 0px;
    display: none;
    top: 6%;
    width: 150px;
    z-index: 10;
}

ul li:hover ul.down-dropdown {
    display: block; /* Display the dropdown */
}

.nav-item:hover .nav-item-a{
    color: #fff;
    font-weight: 300;
}

.nav-item-a {
    padding: 8px;
}

.navbar-toggle { 
    display: none;
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
}


/* Brand Logo */
.logo {
    width: 100%;
    color: #1B4B66;
    text-align: center;
    margin: auto;
  }


  /* Icons */

.input-wrapper {
    gap: 10px;
    font-size: 20px;
}
  
.nav-bar-icons{
    color: var(--bs-font-color);
}

.nav-bar-icons:hover{
    color: var(--bs-hover-color);
}


/* Offer Section */
.offer-section{
    background-color: var(--primary-color);
}

.Close{
    color: #fff;
    right: 0;
    cursor: pointer;
    padding: 8px;
}