.navigation-container{
    background-color: #fff;
    display: flex;
    padding: 0px 8px;
}
.navbar-nav{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.fixed {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    z-index: 20;   
    top: 0;
}
.navigation-container{
    height: 86px;
    /* background-color: var(--primary-color); */
}

/* Navbar links */

.navbar-links li a {
    white-space: nowrap;
    font-weight: 400;
}

.navbar-link a:hover {
    color: var(--bs-hover-color);
}

.navbar-link:hover .dropdown {
    display: block; 
}

.cat-list .nav-item:hover {
    background-color: var(--secondary-color);
}

.nav-item a{
    display: flex;
}

.navbar-links li ul.down-dropdown {
    list-style: none;
    overflow: hidden;
    padding: 0px;
    display: none;
    top: 14%;
    min-width: 150px;
    z-index: 10;
}

ul li:hover ul.down-dropdown {
    display: block; /* Display the dropdown */
}

.nav-item:hover .nav-item-a{
    color: #fff;
    font-weight: 300;
}

.nav-item-a {
    padding: 8px;
}

.navbar-toggle { 
    display: none;
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
}

/* Icons */

.main-logo a{
    position: absolute;
    width: 130px;
    height: 130px;
    z-index: 2;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.main-logo img{
    width: 95%;
    height: 95%;
}

.input-wrapper {
    gap: 10px;
    font-size: 20px;
}
  
.nav-bar-icons{
    color: var(--bs-font-color);
}

.nav-bar-icons:hover{
    color: var(--bs-hover-color);
}

.profile-dd .nav-item{
    height: 3rem ;
}

.profile-dd .nav-item:hover{
    color: #fff;
    font-weight: 300;
}

/* Offer Section */
.offer-section{
    background-color: var(--secondary-color);
    color: #fff;
}

.Close{
    right: 0;
    cursor: pointer;
}

.marquee-container {
    overflow: hidden;
  }
  
  .marquee-content {
    display: flex;
    animation: marquee-rotate 16s linear infinite;
  }
  
  .marquee-item {
    flex-shrink: 0;
    margin-right: 10px;
  }
  
  @keyframes marquee-rotate {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  