.bar-container{
    padding: 12px;
}

.bar-content{
    width: 100%;
    background-color: rgb(239, 162, 187);
    padding: 14px;
}

.bar-container .bar1{
    display: flex;
    justify-content: space-between;
}

.bar1-box, .bar1-box{
    width: 50%;
    position: relative;
}

.mid-line{
    border: 1px solid black;
}

.bar1-content h3{
    font-weight: 800;
}
  
.bar1-box p{
    padding: 0px 12px;
    text-align: center;
    margin: 0px;
}
  
.bar1-content p{
    margin: 0px;
    font-weight: 600;
}
  
p a{
    text-decoration: none;
    color: black;
}

.bar-content h3{
    width: 100%;
    text-align: center;
    font-weight: 800;
}

.bar-box2{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.bar-box{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.icon-space{
    font-size: 34px;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Smart phones */
@media screen and (max-width: 600px) {
    .bar-content{
     flex-direction: column;
    }
    .bar1-box{
     width: 100%;
    }
    .mid-line{
        margin: 16px;
    }

    .bar-box2{
        display: grid;
        grid-template-columns: repeat(2, auto);
    }

    .bar-box{
        display: flex;
        justify-content: flex-start;
        padding: 10px;
        text-align: center;
        white-space: nowrap;
    }
   }
   
   
   /* Tablets */
   @media screen and (max-width: 768px) {
     
   }
   
   /* Laptops */
   @media screen and (max-width: 992px) {
     
   }
   
   /* Monitors */
   @media screen and (min-width: 1200px) {
     
   }