.loginCard {
  background: linear-gradient(to bottom, var(--bs-third-color),var(--secondary-color));
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 8px;
  gap: 20px;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.loginHeading {
  font-size: 1.5em;
  font-weight: 600;
  color: rgb(241, 241, 241);
  z-index: 2;
}

.loginDescription {
  font-size: 0.9em;
  color: rgb(241, 241, 241);
  z-index: 2;
}

.loginDescription a {
  color: rgb(241, 241, 241);
}

.acceptButton {
  padding: 11px 20px;
  background-color: var(--secondary-color);
  transition-duration: .2s;
  border: none;
  color: rgb(241, 241, 241);
  cursor: pointer;
  z-index: 2;
}

.acceptButton:hover {
  background-color: var(--bs-third-color);
  transition-duration: .2s;
}
.acceptButton svg{
  font-size: 24px;
}
.logo__container{
  width: 10rem;
  border-radius: 6px;
  overflow: hidden;
}

.login__close{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  padding: 12px;
  font-size: 1.4rem;
  cursor: pointer;
  
}
.login__close:hover{

  background-color: var(--secondary-color);
  color: aliceblue;
  border-bottom-left-radius: 12px;
}