.Chat-Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.Chat-Container h1{
    font-size: 2rem;
    font-weight: 700;
}

.Chat-Container p{
    margin: 0px;
}

.Chat-Container .contact-button{
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.contact-button a:hover{
    overflow: hidden;
    border-radius: 0px;
}

.contact-button a{
    color: #fff;
    padding: 12px 26px;
    border-radius: 8px;
    background-color: #1B4B66;
}

.chat-icon{
    color: #25D366;
    font-size: 28px;
}