
/* Smart phones */
@media screen and (max-width: 600px) {
    .navbar-nav-section1, .navbar-nav-section2, .navbar-nav-section3{
        width: fit-content;
        padding: 0px;
    }
    
    .login-section-icons{
        width: 30px;
    }
    
    .user-firstname{
        display: none;
    }
        
    .navbar-toggle{
    display: flex;
    }
    }
    
      
      /* Tablets */
      @media screen and (max-width: 768px) {
        
      }
      
      /* Laptops */
      @media screen and (max-width: 992px) {
        
      }
      
      /* Monitors */
      @media screen and (min-width: 1200px) {
        
      }
      