
.filter-container{
    width: 300px;
}
.hero-container{
    padding: 2rem;
    padding-bottom: 0px;
}

.hero-container img{
    border-radius: 10px;
}


.Cards-Grid{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 24px;
}

.Product-Grid{
    justify-content: flex-start;
    min-width: fit-content;
}


.Product-Details{
    position: relative;
}

.favs-icon{
    position: relative;
    top: 0;
    right: 0;
    cursor: pointer;
    width: 25px;
    height: 25px;
  }

  @media only screen and (max-width: 991px){
    .Cards-Grid{
        grid-template-columns: repeat(2,auto);
    }
    .hero-container{
        padding: 0px;
    }
    .category__path{
        display: none !important;
    }
    .no__items img{
        width: 100%;
    }
  }