
.filter-container{
    width: 300px;
}


.hero-container img{
    border-radius: 10px;
}


.Cards-Grid{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 24px;
}

.Product-Grid{
    justify-content: flex-start;
    padding-left: 2rem;
    min-width: fit-content;
}


.Product-Details{
    position: relative;
}

.favs-icon{
    position: relative;
    top: 0;
    right: 0;
    cursor: pointer;
    width: 25px;
    height: 25px;
  }

  .hero-container p{
    font-size: 14px;
  }

  @media only screen and (max-width: 991px){
    .Cards-Grid{
        grid-template-columns: repeat(2,auto);
    }
  }