
.navbar-nav{
    display: flex;
    align-items: left;
    flex-direction: row;
    justify-content: space-around;
}

.navbar-nav-section1, .navbar-nav-section3{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Brand-logo{
    display: flex;
    padding: 0px 8px;
    font-size: 36px;
    font-weight: 600;
    color: orangered;
}

.input-wrapper {
    display: flex;
    gap: 10px;
    padding: 0px 16px;
}

.login-section-icons{
    cursor: pointer;
    display: flex;
    align-items: center;
}

.login-user, .logout-user{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: inherit;
    color: var(--secondary-color);
    white-space: nowrap;
}

.user-firstname{
    margin: 0px;
    font-weight: 500;
    font-size: 20px;
}

ul li a {
    color: #000;
    text-decoration: none;
}

.navbar-link a:hover {
    cursor: pointer;
    color: var(--secondary-color);
}

ul li ul.down-dropdown {
    font-size: 14px;
    background: #fff;
    border-radius: 6px;
    overflow: hidden;
    display: none;
    position: absolute;
    width: 150px;
    z-index: 10;
    padding: 0px;
}


ul li:hover ul.down-dropdown {
    display: block; /* Display the dropdown */
}


.navbar-link:hover .dropdown {
    display: block; /* Display the dropdown */
}

.nav-item:hover {
    cursor: pointer;
    background-color: #000;
}

.nav-item:hover .nav-item-a{
    color: var(--secondary-color);
}

ul li ul.down-dropdown li {
    display: block;
    font-size: 16px;
    padding: 8px;
    list-style: none;
}

.down-dropdown li a{
    color: #000;
}

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 0px 10px;
   }
   
   .input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
   }
   
   .input::placeholder {
    color: #9e9ea7;
   }
   
   .input:focus, input:hover {
    outline: none;
    border-color: rgba(234,76,137,0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
   }
   
   .icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
   }
   
   
   .fixed {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 999;
    
  }


  .navbar-toggle { 
    display: none;
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
  }

  .navbar-links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .navbar-link {
    margin-bottom: 0.5rem;
    text-align: left;
  }

  .Close-navbar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    font-size: 30px;
  }

  .cross-icon{
    cursor: pointer;
  }

  .cross-btn{
    display: none;
  }
  
/* Smart phones */
@media screen and (max-width: 600px) {
.navbar-nav-section1, .navbar-nav-section2, .navbar-nav-section3{
    width: fit-content;
    padding: 0px;
}

.login-section-icons{
    width: 30px;
}
.Close-navbar{
    display: flex;
    justify-content: flex-end;
}
ul li ul.down-dropdown {
    font-size: 14px;
    background: #fff;
    display: none;
    border-radius: 6px;
    position: absolute;
    right: 0%;
}

.user-firstname{
    display: none;
}

.navbar{
    z-index: 7;
    display: none;
    position: fixed;
    top: 0%;
    opacity: 0.85;
    width: 80%;
    }

    .navbar.navbar-open{
    display: block; 
    }

    .navbar-link{
    width: 100%;
    padding: 12px;
    }
    
    .navbar-toggle{
    display: flex;

    }
    
    .navbar-links.open {
    display: flex;
    background-color: #000;
    flex-direction: column;
    border-bottom-right-radius: 10px;
    }
    .navbar-link a{
    color: #f2f2f2;
    }

  }

  
  /* Tablets */
  @media screen and (max-width: 768px) {
    
  }
  
  /* Laptops */
  @media screen and (max-width: 992px) {
    
  }
  
  /* Monitors */
  @media screen and (min-width: 1200px) {
    
  }
  