
.cart-page{
  gap: 80px;
}

.cart-page p{
  cursor: default;
}

p a:hover{
    color: var(--bs-hover-color);
}

.cart-sub-header{
  cursor: default;
  border-bottom: 1px solid;
}

.cart-header h1{
  color: var(--primary-color);
  font-size: 32px;
  margin: 0px;
}

.cart-item-section{
  gap: 32px;
}

.cart-image-container{
  width: 180px;
  border-radius: 16px;
}


.cart-buttons{
  bottom: 0;
  right: 8%;
  gap: 24px;
}



/* Smart phones */
@media screen and (max-width: 600px) {
  .cart-page{
    flex-direction: column;
  }
  .cart-box{
    flex-direction: column;
  }
  
  .cart-image-container{
    width: 130px;
  }
  }
  
    
    /* Tablets */
    @media screen and (max-width: 768px) {
      
    }
    
    /* Laptops */
    @media screen and (max-width: 992px) {
      
    }
    
    /* Monitors */
    @media screen and (min-width: 1200px) {
      
    }
    