
.cart-page p{
  cursor: default;
}

.cart__item hr{
  width: 3px;
  height: 6px;
}

p a:hover{
    color: var(--bs-hover-color);
}

.cart-sub-header{
  cursor: default;
  border-bottom: 1px solid;
}

.cart-header h1{
  color: var(--secondary-color);
  font-size: 32px;
  margin: 0px;
}

.cart-item-section{
  gap: 32px;
}

.cart-image-container{
  width: 160px;
  border-radius: 16px;
}


.cart__buttons{
  bottom: 0;
  right: 0;
  gap: 24px;
}

.cart__buttons p:hover{
  cursor: pointer;
  color: var(--secondary-color);
  text-decoration: underline;
}

.cart-sub-header{
  justify-content: space-evenly;
}

.cart-sub-header p{
  min-width: 220px;
  text-align: right;
}

.cart_item__price{
  justify-content: center;
}
.cart_item__price p{
  padding-right: 4rem;
}


/* Smart phones */
@media screen and (max-width: 600px) {
  .cart__body{
    flex-direction: column;
  }
  .cart__path, .cart-sub-header p{
    font-size: 14px;
  }
  .cart-sub-header{
    justify-content: space-between;
  }
  .cart-sub-header p{
    min-width: 0;
    width: 100%;
    text-align: center;
  }
  .cart_item__details{
    font-size: 2rem;
  }
  .cart_item__box{
    flex-direction: column;
  }
  .cart_item__price{
    margin-left: 3rem;
    justify-content: start;
    width: 50% !important;
  }
  .cart_item__subtotal{
    padding-right: 4rem;
  }
  .cart_item__info{
    font-size: 1.7rem;
  }
  .cart_item__info h6{
    font-size: 2.3rem;
  }
  .cart__buttons{
    
  font-size: 2rem;
  }
}
  