
.Checkout-Section{
  width: 30%;
    background-color: #fff;
  }

  .Checkout-header{
    padding: 6px 12px;
    border-bottom: 1px solid #6b6969;
  }

  .Checkout-header h5{
    font-weight: 700;
    font-size: 18px;
    color: var(--secondary-color);
  }

  .Checkout-body{    
    padding: 8px 12px;
    border-bottom: 2px solid var(--secondary-color);
  }

  .checkout-row{
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .checkout-row p{
    font-size: 16px;
    font-weight: 600;
    margin: 0px;
  }

  .total-amount{
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .total-amount h4{
    font-size: 20px;
    font-weight: 600;
  }

  .checkout-footer{
    display: flex;
    justify-content: space-around;
  }

  .checkout-footer a{
    border: 2px solid var(--secondary-color);
    padding: 4px 24px;
    border-radius: 6px;
  }

  .place-order{
    background-color: var(--secondary-color);
    color: #fff !important;
  }



  .checkout-footer button:hover{
    transform: scale(.98);
  }