
.cart-item {
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 18px;
  }
  
  .cart-item img {
    width: 140px;
    height: 170px;
    object-fit: cover;
    margin-right: 10px;
  }

  .cart-item-box{
    width: 100%;
    padding: 10px;
    display: flex;
  }

  .cart-buttons-box{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }

  .cart-button{
    width: 100%;
    cursor: pointer;
    padding: 4px;
    font-size: 14px;
    font-weight: 600;
  }

  .cart-button:hover{
    background-color: #e67e22;
    color: #fff;
  }

  .item-details p {
    margin: 0px;
  }