.Main-Card .card{
    max-width: 300px;
    border-radius: 0px;
    cursor: pointer;
    min-width: 300px;
    transition: 0.4s ease-out;
}

.Main-Card .title{
    color: var(--type-high-emphasis, #171520);
}
  
.Main-Card .subtitle{
    color: var(--type-low-emphasis, #626262);
    text-overflow: ellipsis;
    white-space: nowrap;
}