
.cart-page p{
  cursor: default;
}
.Parent__Cart, .Parent__Wishlist{
  min-height: 90vh;
  display: flex;
  align-items: flex-start;
}
.cart_item__header {
  cursor: default;
  border-bottom: 1px solid;
}

.child1 {
  display: flex;
  width: 20rem;
  justify-content: center;
}

.child2 {
  flex: 1;
  display: flex;
  justify-content: space-around;
}

.cart__body{
  gap: 2rem;
}
.cart_box{
  border-radius: 16px;
  overflow: hidden;
}
.cart-header h1{
  color: var(--secondary-color);
  margin: 0px;
}

.cart_image__container{
  display: flex;
  width: 140px;
  margin: 0px;
  overflow: hidden;
  border-radius: 16px;
}

.cart_image__container img{
  width: 100%;
}

.cart__buttons{
  right: 0;
  bottom: 0;
  gap: 24px;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  color: #fff;
  justify-content: center;
  background-color: #B00020;
  border-top-left-radius: 16px;
}

.cart__buttons p:hover{
  cursor: pointer;
  color: var(--secondary-color);
  text-decoration: underline;
}

.cart_item__info{
  padding: 12px;
}

/* Smart phones */
@media screen and (max-width: 991px) {
  .cart__body{
    flex-direction: column;
  }
  .cart_item__header{
    justify-content: space-between;
  }
  .child1{
    width: 100px;
  }
  .cart_item__header p{
    min-width: 0;
    width: 100%;
    text-align: center;
  }
  .cart_image__container{
    width: 100px;
  }
  
  .cart_item__info h6, .cart_item__info{
    padding: 0px;
    padding-top: 8px;
    font-size: 14px !important;
  }
  .qty-button{
    padding: 2px 8px;
  }
  .cart_item_details_box{
    font-size: 14px;
  }
  .cart_item__box{
    flex-direction: column;
  }
  .cart_item__price{
    margin-left: 3rem;
    justify-content: start;
    width: 50% !important;
  }
}
  


@media screen and (max-width: 360px){

}