:root{
    --primary-color: rgb(242,227,220);
    --secondary-color: rgb(223,142,105);
    --bs-third-color: rgb(242,236,222);
    --bs-fourth-color: rgb(208,202,190);
    --bs-font-color: rgb(34,34,46);
}

#root{
    overflow-x: hidden;
    min-height: 100vh;
}


body::-webkit-scrollbar {
    width: 0.2em; /* Set the width of the scrollbar */
  }
  
body::-webkit-scrollbar-track {
    background-color: black; /* Set the background color of the scrollbar track */
  }
  
body::-webkit-scrollbar-thumb {
    background-color: orangered; /* Set the background color of the scrollbar thumb */
  }

.App-Container{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
}

.offer-section{
    background-color: var(--bs-font-color);
    height: 7vh;
}