:root{
    --primary-color: #ddada1;
    --secondary-color: #2f4858;
    --bs-third-color: #a5796d;
    --bs-fourth-color: #ffe6d9;
    --bs-hover-color: #0066CC;
    --bs-font-color: #241C24;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');


#root{
    font-family: 'Poppins';
    overflow-x: hidden;
}

a{
  text-decoration: none;
  color: var(--bs-font-color);
}

a:hover{
  color: var(--bs-hover-color);
}

body::-webkit-scrollbar, nav ul::-webkit-scrollbar, .other-images::-webkit-scrollbar {
    width: 0.2em; /* Set the width of the scrollbar */
  }
  
body::-webkit-scrollbar-track {
    background-color: black; /* Set the background color of the scrollbar track */
  }
  
body::-webkit-scrollbar-thumb {
    background-color: var(--primary-color); /* Set the background color of the scrollbar thumb */
  }

.App-Container{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
}
