
.New-Arrivals{    
    padding: 0px 30px;
    display: flex;
    align-items: center;
}

.newarrivals-head{
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
}

.newarrivals-head a{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #171520;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.newarrivals-head a:hover{
  color: #0066CC;
}

.Cards-Container{
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  transition: scroll-behavior 1.6s;
}

.Cards-Container::-webkit-scrollbar {
  width: 0.5em; /* Set the width of the scrollbar */
}

.Cards-Container::-webkit-scrollbar-track {
  background-color: transparent; /* Set the background color of the scrollbar track */
}

.Cards-Container::-webkit-scrollbar-thumb {
  background-color: transparent; /* Set the background color of the scrollbar thumb */
}

.card img{
  width: 100%;
  height: 100%;
}

.card {
  width: 200px;
  overflow: hidden;
}

.card .image2{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.6s;
}
  
.card:hover .image2{
  opacity: 1;
  transition: opacity 0.6s;
}

.Main-Card .title{
  color: var(--type-high-emphasis, #171520);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 0px;
}

.Main-Card .subtitle{
  overflow: hidden;
  color: var(--type-low-emphasis, #626262);
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 20px;
}

.Main-Card .price{
  color: var(--type-high-emphasis, #171520);
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.scroll-button{
  font-size: xx-large;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 330px;
  transition: .9s ease all;
}

.Product-Details{
  position: relative;
}

.Product-Details .fav-icon{
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.fav-icon:hover{
  color: #0066CC;
}

/* Smart phones */
@media screen and (max-width: 600px) {
  .card{
    width: 180px;
  }
  
}

/* Tablets */
@media screen and (max-width: 768px) {
  
}

/* Laptops */
@media screen and (max-width: 992px) {
  
}

/* Monitors */
@media screen and (min-width: 1200px) {
  
}
