
.newarrivals-head h3{
  color: var(--bs-font-color);
  gap: 4px;
  font-weight: 600;
}

.New-Arrivals, .Product-Grid{
  padding: 0px 12px;
}

.newarrivals-head a:hover{
  color: var(--bs-hover-color);
}

.Cards-Container{
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  align-items: flex-start;
  scroll-behavior: smooth;
  transition: scroll-behavior 1.6s;
  padding-bottom: 0px;
}

.Cards-Container::-webkit-scrollbar {
  width: 0.5em; /* Set the width of the scrollbar */
}

.Cards-Container::-webkit-scrollbar-track {
  background-color: transparent; /* Set the background color of the scrollbar track */
}

.Cards-Container::-webkit-scrollbar-thumb {
  background-color: transparent; /* Set the background color of the scrollbar thumb */
}

.card .image2{
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.6s;
}
  
.card:hover .image2{
  opacity: 1;
  transition: opacity 0.6s;
}

.Product-Details{
  width: 100%;
  padding: 12px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;

  text-overflow: ellipsis;
}

.Product-Details .fav-icon{
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: inherit;
  width: 35px;
  height: 35px;
}

.fav-icon:hover{
  color: var(--bs-hover-color);
}


@media only screen and (max-width: 894px) {
  .Cards-Container{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, auto);
  }
  .may_like{
    padding: 0px;
  }
}