
.newarrivals-head a{
  color: var(--bs-font-color);
  gap: 4px;
  font-weight: 600;
}

.newarrivals-container{
  
  /* background-color: var(--bs-third-color);/ */
}

.newarrivals-head a:hover{
  color: var(--bs-hover-color);
}

.Cards-Container{
  gap: 20px;
  scroll-behavior: smooth;
  transition: scroll-behavior 1.6s;
}

.Cards-Container::-webkit-scrollbar {
  width: 0.5em; /* Set the width of the scrollbar */
}

.Cards-Container::-webkit-scrollbar-track {
  background-color: transparent; /* Set the background color of the scrollbar track */
}

.Cards-Container::-webkit-scrollbar-thumb {
  background-color: transparent; /* Set the background color of the scrollbar thumb */
}

.card .image2{
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.6s;
}
  
.card:hover .image2{
  opacity: 1;
  transition: opacity 0.6s;
}

.scroll-button{
  font-size: 28px;
  cursor: pointer;
  transition: .9s ease all;
  border-radius: 8px;
  height: fit-content;
  padding: 7rem 0px;
}

.scroll-button:hover{
  background-color: var(--primary-color);
  color: #fff;
}

.Product-Details{
  position: relative;
}

.Product-Details .fav-icon{
  top: 0;
  right: 0;
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.fav-icon:hover{
  color: var(--bs-hover-color);
}

/* Smart phones */
@media screen and (max-width: 600px) {
  .card{
    width: 180px;
  }
  
}

/* Tablets */
@media screen and (max-width: 768px) {
  
}

/* Laptops */
@media screen and (max-width: 992px) {
  
}

/* Monitors */
@media screen and (min-width: 1200px) {
  
}
