.mobile__search .search__container{
    display: none;
}
.desktop__search{
  /* margin-bottom: 1rem; */
  display: flex;
  justify-content: flex-end;
}
.search__container{
  width: 70%;
}
.inputBox_container {

    display: flex;
    align-items: center;
    height: fit-content;
    border: 1.8px solid var(--secondary-color);
    border-radius: 1.4em;
    padding: .4rem;
  }
  
  .search_icon {
    font-size: 2rem;
    /* padding: 0 0.5em 0 0.6em; */
  }
  
  .inputBox {
    display: flex;
    background-color: transparent;
    color: #000;
    outline: none;
    width: 100%;
    border: 0;
    font-size: 1em;
    padding: 0px 12px;
  }
  
  ::placeholder {
    color: var(--secondary-color);
  }
  .search_suggestions{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    list-style: none;
    top: 100%;
    width: 100%;
    gap: 0;
    padding: 0px;
  }

  .search_suggestions li a{
    display: flex;
    align-items: center;
    padding: 12px;
    gap: 12px;
  }
  .search_suggestions li a img{
    width: 50px;
    border-radius: 8px;
  }
  
@media only screen and (max-width: 894px) {
    .search__container{
        padding: 8px 1rem;
    }
    .inputBox_container{
        width: 100%;
    }
    .desktop__search{
      display: none;
    }
    .mobile__search .search__container{
      display: flex;
      width: 100%;
    }
}