.wishlist-grid{
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    gap: 15px;
}

.no__items{
    text-align: center;
}


@media only screen and (max-width: 991px){
    .wishlist-grid{
        grid-template-columns: repeat(2, auto);
        justify-content: center;
    }
}