.wishlist-grid{
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: start;
    gap: 15px;
}


@media only screen and (max-width: 991px){
    .wishlist__path{
        font-size: 14px;
    }
}