
.bar-content{
    display:flex;
    flex-direction: column;
    background: var(--fuschia-100, var(--primary-color));
}

.icon-space{
    font-size: 2rem;
}

/* Smart phones */
@media screen and (max-width: 600px) {
    .bar-content{
     flex-direction: column;
    }
    .bar1-box{
     width: 100%;
    }
    .mid-line{
        margin: 16px;
    }
    
    .bar-box2{
        display: grid;
        grid-template-columns: repeat(2, auto);
    }
    .bar__icon_container{
        flex-direction: column;
    }
    .bar-box{
        display: flex;
        justify-content: flex-start;
        padding: 10px;
        text-align: center;
        white-space: nowrap;
        align-items: center;
    }

   }
   