.bar-container{
    padding: 12px;
}

.bar-content{
    width: 100%;
    background: var(--fuschia-100, #EF5DA8);
    text-align: center;
    padding: 14px;
}

.bar-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar-box2{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.icon-space{
    font-size: 34px;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Smart phones */
@media screen and (max-width: 600px) {
    .bar-content{
     flex-direction: column;
    }
    .bar1-box{
     width: 100%;
    }
    .mid-line{
        margin: 16px;
    }
    
    .bar-box2{
        display: grid;
        grid-template-columns: repeat(2, auto);
    }

    .bar-box{
        display: flex;
        justify-content: flex-start;
        padding: 10px;
        text-align: center;
        white-space: nowrap;
        align-items: center;
    }
   }
   
   
   /* Tablets */
   @media screen and (max-width: 768px) {
     
   }
   
   /* Laptops */
   @media screen and (max-width: 992px) {
     
   }
   
   /* Monitors */
   @media screen and (min-width: 1200px) {
     
   }